* {
  margin: 0;
  padding: 0;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.header, .footer {
  height: 3em;
  box-sizing: border-box;
  /*background-color: lightcyan;*/
  /*border: 8px solid blue; */
}

.header h1 {
    font-size: 2em;
}

.main {
  display: flex;
  flex-direction: row;
  /*flex-grow: 0;
    flex-shrink: 1; */
}

.sidebar {
  width: 14em;
  max-height: 95vh;
  min-height: 95vh;
  overflow-y: auto;
  background-color: moccasin;
  box-sizing: border-box;
  /*border: 8px solid chocolate;*/
}

.sidebarlist {
  overflow-y: auto;
  overflow-x: hidden;
}

.warpto {
    cursor: pointer;
}

.sidebarbutton {
    text-alignment: right;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.flex-content {
  flex-grow: 1;
  background-color: palegoldenrod;
  box-sizing: border-box;
  /*border: 8px solid green;*/
}

div#controls span {
    margin: 8px;
}

.popover-body {
    min-width: 276px;
}

.tooltipmark {
    color: white;
    background: black;
    border-radius: 5pt;
    cursor: help;
    margin: 0px !important;
}

span#mtname {
    display: inline-block;
    width: 14em;
    height: 2em;
    border: 1px solid black;
}
